@media screen and (max-width: 430px) {

  .section-contact {
    height: 250px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 700px) {

  .section-projects {
    background: $lightgray;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
  }

  .section-skills {
    margin-bottom: $section-margin / 2
  }

  .section-contact {
    font-size: 1.2rem;
  }

  .contact-main {
    width: 80%;
    padding: 20px;
  }

  .contact-button {
    font-size: 1em;
    height: 48px; // tap target
    display: flex;
    align-items: center;
  }

  .contact-button-tooltip {
    bottom: -10px;
  }
}