@mixin card-project {
  background: lighten($main, 20%);
  color: $contrast;

  &:hover {
    box-shadow: 0 0 10px lighten($main, 10%);
  }

  .btn-demo, .btn-code {
    background: $contrast;
    color: lighten($main, 20%);

    &:hover {
      filter: grayscale(100%);
    }
  }
}

@mixin card-exercise {
  background: transparent;
  color: $darkgray;

  .btn-demo, .btn-code {
    background: $darkgray;
    color: $lightgray;

    &:hover {
      background: $main;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    background: $background;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.8;
  }

  &:hover {
    &::after {
      z-index: -1;
    }
  }
}

.section-projects {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  width: 45%;
  position: relative; 
  text-align: center;
  padding: 20px;

}

.card:nth-child(4n) {
  @include card-project;
  background: lighten($main, 30%);
}

.card:nth-child(4n + 2), .card:nth-child(4n + 3) {
  @include card-exercise;
}

.card:nth-child(4n + 1) {
  @include card-project;
}

.btn-demo, .btn-code {
  margin: 0 2rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  font-size: 1rem;

  &:hover {
    transform: scale(1.3);
    transition: 0.5s;
  }
}

.btn-demo {
  font-size: 1.2rem;
  width: 4.2rem;
  height: 4.2rem;
}

.btn-demo-tooltip {
  @include tooltip;
  //width: 250px;
  bottom: 8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.pandas-btn-demo:hover + .btn-demo-tooltip {
  display: block;
}

.inactive:hover {
  transform: none;
}

.card-title {
  text-transform: uppercase;
  line-height: 1.8em;
  font-size: 1.5em;
  font-weight: 200;

  &-name {
    font-weight: 300;
  }
}

.card-description {
  font-size: 1.1em;
  padding: 1em 0;
  line-height: 1.5em;
  height: 6.5em;
  font-weight: 300;

  &-link {
    color: inherit;
    font-weight: 400;
    cursor: pointer;
  }
}

.card-tech {
  padding-bottom: 20px;
  font-size: 1.1em;
  font-weight: 500;

  &-list {
    list-style-type: none;
  }
}