.section-photo {
  background: $background;
  position: absolute;
  width: 220px;
  height: 220px;
  padding: 10px;
  top: 250px - 110px;
  left: calc(50% - 110px);
  border-radius: 50%;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url("../assets/ak.svg");
  background-size: cover;
  border-right: 5px solid $main;
  border-bottom: 5px solid $contrast;
}