
.section-contact {
  width: 100%;
  background: linear-gradient(#fff, $main);
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

.contact-main {
  position: absolute;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 3;
  background: #fff;
  border-radius: 10px;
  color: $darkgray;
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 300;
  padding: 40px;
  text-align: center;

  &-strong {
    font-weight: 400;
  }
}

.contact-button {

}

.contact-button-tooltip {
  display: none;
  position: absolute;
  width: 250px;
  height: 26px;
  bottom: 8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  background: $darkgray;
  color: $lightgray;
  font-weight: 300;

}

.visible {
  display: block;
}