@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

$main: #f8c83b;
$lightgray: #f8f7f0;
$darkgray: #5b5b5b;
$contrast: #4d4637;
$background: #fff;

$header-height: 300px;
$section-margin: 100px;

$font-main: "Roboto", sans-serif;