@import "./variables";
@import "./reset";
@import "./pattern";
@import "./section-header";
@import "./section-photo";
@import "./section-title";
@import "./section-projects";
@import "./section-skills";
@import "./section-contact";
@import "./media";

.main {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%
}