@media screen and (max-width: 700px) {

  .card {
    width: 100%;
  }

  .card-title {
    line-height: initial;
  }

  .card-description {
    height: initial;
    margin-bottom: 1rem;
  }

  .section-skills {
    margin-top: $section-margin / 4;
    margin-bottom: 0;
  }

  .skills-title {
    font-size: 2.3rem;
  }

  .section-contact {
    font-size: 1.2rem;
  }

  .contact-main {
    width: 80%;
    padding: 20px;
  }

  .contact-button {
    font-size: 1em;
    height: 48px; // tap target
    display: flex;
    align-items: center;
  }

  .contact-button-tooltip {
    bottom: -10px;
  }
}